#history {
    max-width: 600px;
}

.historyEntry {
    background-color: #fafaeb;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    margin-bottom: 5px;
}

#history > .historyEntry:first-child {
    background-color: #f7f77c;
}

.historyEntryTitlebar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.historyCommand {
    font-family: "Courier New", monspace;
    font-weight: bold;
}

.historyButtons {
    margin-left: 5px;
    display: flex;
    gap: 4px;
}

.historyButtons div {
    font-family: sans-serif;
    font-size: 8pt;
    border-style: dashed;
    border-width: 1px;
    padding: 2px;
    user-select: none;
    align-self: flex-start
}

.historyButtons div:hover {
    background-color: rgba(0,0,0,0.2);
}

.historyOutput {
    max-height: 250px;
    overflow-y: scroll;
    border-top: 1px dotted gray;
}

.historyOutputPre {
    white-space:pre-wrap;
    word-break:break-all;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 9pt;
}

#main {
    margin-right: 350px;
}

#pinbar {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 5px;
    padding-right: 5px;
}